* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab {
    display: flex;
    justify-content: space-between;
}

.tabbutton {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    flex: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontent {
    display: none;
    padding: 20px 0;
}

.input-group {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}